--extra-index-url https://download.pytorch.org/whl/cu121

accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
av
backoff
bcrypt
bitsandbytes
build
cachetools
certifi
charset-normalizer
chromadb
click
colorama
coloredlogs
dataclasses-json
distro
durationpy
einops
fastapi
filelock
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub>=0.34.0
humanfriendly
idna
importlib_metadata
importlib_resources
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain==0.3.13
langchain-chroma
langchain-community==0.3.13
langchain-core==0.3.29
langchain-openai
langchain-text-splitters==0.3.4
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
networkx
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pillow
posthog
propcache
protobuf
psutil
pyasn1
pyasn1_modules
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
python-multipart
PyYAML
qwen-vl-utils
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scipy
setuptools
shellingham
six
sniffio
SQLAlchemy
starlette
sympy
tenacity
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
urllib3
uuid_utils
uvicorn
watchfiles
websocket-client
websockets
xxhash
yarl
zipp
zstandard
peft